<div class="login-container">
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="center"><h3>Login</h3></div>
        <div class="form-group">
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon addon-size"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username" id="username" placeholder=" Username" autocomplete="off" 
                    [(ngModel)]="login.username" required/>
                </div>
               
            </div>
        </div>
        <div class="form-group">
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon addon-size"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" id="password" 
                     placeholder="Password" autocomplete="off" [(ngModel)]="login.password" required/>
                </div>
            </div>
        </div>
        <div *ngIf="activatedError">
            <p>You have to activate your account!</p>
        </div>

        <div *ngIf="loginError">
            <p>Wrong username or password!</p>
        </div>
        <div class="form-group ">
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg btn-block login-button">Login</button>
        </div>
    </form>
</div>